.cardSlot {
    width: 25px;
    height: 35px;
    background-color: #00583b;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    border: 2px solid transparent;
    &:hover {
        border-color: #0098DB;
    }
    &:active {
        border-color: #0098DB;
    }
    .card:hover {
        border-color: transparent;
    }
}

.cardSlot-active {
    border-color: #0098DB;
}   