.cardsProbability {
    margin-top: 20px;
    width: 100%;
}

.cardsProbability-table {
    width: 100%;
}

.cardsProbability-tableCell {
    text-align: center;
}

.cardsProbability-tableAction {
    text-align: center;
    padding-top: 20px;
}