.card {
    width: 41px;
    height: 50px;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;
    &:hover {
        border-color: #0098DB;
    }
  }

.card-isUsed {
    opacity: 0.2;
    &:hover {
        border-color: transparent;
    }
}
