.cardsProbability {
    margin-top: 20px;
    width: 100%;
}

.cardsProbability-dropdown {
    //margin-right: 20px;
}

.cardsProbability-table {
    width: 100%;
}

.cardsProbability-tableCell {
    text-align: center;
}