.deck {
    background-color: #007151;
    width: 50%;
    padding: 10px;
    padding-top: 60px;
    overflow: auto;
}

.deckOpponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        width: 21px;
        height: 31px;
    }
}

.deckOpponent .player {
    width: 45%;
}

.deckOpponent div:nth-child(2) {
    .playingAreaSection:first-child {
        justify-content: flex-end;
    }
}