.deck {
    background-color: #007151;
    width: 50%;
    padding: 10px;
    padding-top: 60px;
    overflow: auto;
}

.deckOpponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deckOpponent .player {
    width: 45%;
}

.deckOpponent div:nth-child(2) {
    .playingAreaSection:first-child {
        text-align: right;
    }
}