.player {
    width: 100%;
}

.self {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
    .cardSlot {
        width: 35px;
        height: 45px;
    }
    .card {
        width: 31px;
        height: 41px;
    }
    .mug .cardSlot {
        float: left;
        width: 26px;
        height: 34px;
        .card {
            width: 22px;
            height: 30px;
        }
    }
}

.player-area-mug {
    display: flex;
    position: relative;
}